extends ../base.pug 

block variables 
  - var template = 'collections'

block content 
  .collections 
    .collections__wrapper 
      include ../partials/verticaltitle
      .collections__gallery 
        .collections__gallery__wrapper 
          each collection in collections 
            each product in collection.data.products
              a.collections__gallery__link(href=Link(product.products_product))=Test
                figure.collections__gallery__media 
                  img.collections__gallery__media__image(alt=product.products_product.data.image.alt data-src=product.products_product.data.image.url)

      .collections__content 
        each collection in collections
          article.collections__article 
            h2.collections__article__title=`${collection.data.title} ${home.data.collection}`
            p.collections__article__description=collection.data.description